.wrap-container table {
    display: block;
    text-align: start;
}

.table1, .table2{
    width: 50% ;    
}
.table1 th{
    text-align: center;
}

.table1 td, .table2 th {
    width: 15px;
    font-weight: 600;
    padding: 20px 10px 20px 15px;

}
.wrap-container .table2 {
    width: 100%;
    text-align: left;
}
.wrap-container .form-table th{
    width: 10px;
}

.wrap-container tbody {
    display: flex ;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.wrap-container input[name="my_option_five"]{
  width: 500px;
  
}
#add_column{   
    width: 30%;
}
.d-none{
    display: none;
}
.active{
    display: block;
}
.wrap-container table.table2-duble{
 
    width: 100%;
    text-align: left;
}

.wrap-container button.button-primary-main, input.button-primary-main, .wp-core-ui .button-primary {
    background: #97b9e2 ;
    border-color: #97b9e2;
    text-align: center;  
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    min-width: 100px;
    width: 10%;
    margin-left: 40% !important;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap-container;
    box-sizing: border-box;
}